*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  border: 0%;
  padding: 0%
}

html{  
  scroll-behavior: smooth;
}

body#article {
  font-family: var(--article--regular);
  background: linear-gradient(var(--white), #C8D2D9);
  display:grid;
}

.main_article {
  padding-top:6rem
}

.article_text p, .main_article h1 , .main_article h2, .main_article h3 {  
  padding-left:2.2rem;
  padding-right:2.2rem;
  padding-top:1rem;
}

.mot_glossaire {
  color: var(--dark-yellow)
}

.main_article p{
  font-family: 'Ubuntu';
}

.main_article b{
  font-family: 'Ubuntu';
  font-weight: medium;}

  .article_text p{
  color: var(--black-text);
  font-size: var(--article--regular)
}

.main_article h1 {
  font-family: var(--big-article-title); color:var(--light-blue);
  font-family: 'Arvo';
  font-size: var(--big-article-title);
  margin-bottom:10px;
  padding-right:40px
}

.main_article h2 {
  font-family: var(--intertitre); color:var(--red);
  margin-top:30px;
  font-family: 'Arvo';
  font-size: var(--intertitre)
}

.main_article h3{
  opacity:0.6;
  margin-top:-5px;
  font-family: 'Ubuntu';
  font-size: var(--image-description);
  font-weight: var(--image-description)
}

.main_article a{
  color: var(--black-text)
}

.chapo_musique
{
  background-color: var(--red);
  margin-left:2.2rem;
  margin-right:2.2rem;
  color: var(--light-text);
  border-radius: 20px;
  padding-bottom: 10px;
  font-size: var(--chapo-bold);
  padding-left:1rem;
  padding-right:1.2rem;
  padding-top:1rem;
}

.chapo
{
  background-color: var(--red);
  margin-left:2.2rem;
  margin-right:2.2rem;
  color: var(--light-text);
  border-radius: 20px;
  padding-bottom: 30px;
  font-size: var(--chapo-bold);
  padding-left:1rem;
  padding-right:1rem;
  padding-top:1rem;

}


#playPauseBTN, #playPauseBTN_2 {
  background-color: var(--light-blue);
  border: none;
  padding-left:10px;
  padding-right:30px;
  padding-top:1px;
  padding-bottom:1px;
  display: flex;
  gap:10px;
  align-items: center;   
  border-radius: 5px;
  color: var(--light-text);
  margin-top:10px;
  margin-left:40px;
  z-index:1; 
  position:relative;
  font-family: 'Bellota';
  font-size: var(--button--article)
}

#playPauseBTN_2 {
  top:45px;
  left:10px
}

.top {
  display: flex;
  padding-left: 200px;
 }

  body#pages_autres{
    background: radial-gradient(var(--light-blue), var(--dark-blue));
    display:grid;
  }

    body#pages_autres h1{
      color: var(--light-text);
      font-size: var(--big-article-title);
      font-family: 'Arvo' ;
      padding: 40px 40px 10px 40px;
      margin-top:80px

    }

    
.texte_pages_autres{
  font-family: 'Ubuntu';
  font-size: var(--chapeau);
  color: var(--light-text);
  padding: 0px 30px 0px 40px
}

body#pages_autres b{
  font-family: 'Arvo';
  font-size: var(--intertitre);
  color: var(--yellow);
  padding: 0px 30px 0px 40px;
}

.hr_glossaire{
  opacity:40%;
  color: var(--white);
  margin:20px 40px 20px 40px
}

.glossaire_last{
  margin-bottom:150px
}

