*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  border: 0%;
  padding: 0%
}

html{  
  scroll-behavior: smooth;
}

body#article {
  font-family: var(--article--regular);
  background: radial-gradient(var(--white), var(--dark-grey));
  display:grid;
  
}
.main_article {
  padding-top:6rem

}

#article p, .main_article h1 , .main_article h2, .main_article h3 {  
  padding-left:2.2rem;
  padding-right:2.2rem;
  padding-top:1rem;
}

.mot_glossaire {
  color: var(--dark-yellow)
}

.main_article p{
  font-size:18px
}

.main_article h1 {
  font-family: var(--big-article-title); color:var(--light-blue)
}

.main_article h2 {
  font-family: var(--intertitre); color:var(--red);
}

.main_article h3{
  font-size: 11px;
  opacity:0.6
}

.chapo
{
  background-color: var(--red);
  margin-left:2.2rem;
  margin-right:2.2rem;
  color: var(--light-text);
  border-radius: 20px;
  padding-bottom: 10px;
}


#playPauseBTN {
  background-color: var(--light-blue);
  border: none;
  padding-left:10px;
  padding-right:30px;
  padding-top:1px;
  padding-bottom:1px;
  display: flex;
  gap:10px;
  align-items: center;   
  border-radius: 5px;
  font-size:20px;
  color: var(--light-text);
  margin-top:10px;
  margin-left:40px;
}