*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  border: 0%;
  padding: 0%
}

html{  
  scroll-behavior: smooth;
}

body#article {
  font-family: var(--article--regular);
  background: linear-gradient(var(--white), #C8D2D9);
  display:grid;
  
}
.main_article {
  padding-top:6rem

}

.main_article p, .main_article h1 , .main_article h2, .main_article h3 {  
  padding-left:2.2rem;
  padding-right:2.2rem;
  padding-top:1rem;
}

.mot_glossaire {
  color: var(--dark-yellow)
}

.main_article p:not(:first-child){
  font-size:4.7vw;
}

.main_article h1 {
  font-family: var(--big-article-title); color:var(--light-blue);
  font-size: 8.4vw;
}

.main_article h2 {
  font-family: var(--intertitre); color:var(--red);
  font-size: 6vw;
  margin-top:30px
}

.main_article h3{
  font-size: 3vw;
  opacity:0.6;
  margin-top:-5px
}

.chapo
{
  background-color: var(--red);
  margin-left:2.2rem;
  margin-right:2.2rem;
  color: var(--light-text);
  border-radius: 20px;
  padding-bottom: 10px;
  font-size:4.7vw;
}


#playPauseBTN, #playPauseBTN_2 {
  background-color: var(--light-blue);
  border: none;
  padding-left:10px;
  padding-right:30px;
  padding-top:1px;
  padding-bottom:1px;
  display: flex;
  gap:10px;
  align-items: center;   
  border-radius: 5px;
  font-size:5.5vw;
  color: var(--light-text);
  margin-top:10px;
  margin-left:40px;
  z-index:1; 
  position:relative
}

#playPauseBTN_2 {
  top:45px;
  left:10px
}


.top {
  display: flex;
  padding-left: 200px;
 }
