.main_article img {
    margin-right:auto;
    margin-left:auto  
  }

  .Image_article {
display:block;
max-width: 100%;
height: auto;
}

.Image_article:not(#image_musique){
  margin-top:2rem
}

  #image_chapo_musique{
    position:relative;
    margin-right:2.1rem;
    margin-left: auto;
    display:block;
    bottom:35px;
   z-index:0
  }

  #image_chapo{
    position:relative;
    margin-right:2.2rem;
    margin-left: auto;
    display:block;
    bottom:20px;
   z-index:0
  }


#red {
  box-shadow: 15px -15px var(--red);
  border-radius : 20px;
  margin-top:10px;
}


video{
  padding-top:40px;
  max-width:100%; 
  max-height: auto;
}
