.a_propos_blue_circle {
    font-size: var(--article--regular);
    padding-top:90px;
    padding-right:50px;
    background-color: var(--light-blue);
    border-radius: 50%;
    position: relative;
    margin: 0;
    color: white;
    height:322px;
    width:333px;    
    margin-left: auto;
    margin-right: auto;

  }
  
  .a_propos_blue_circle::before {
        content: "";
        width: 50%;
        height: 100%;
        float: left;
        shape-outside: polygon(
                20% 0%,
                20% 0%,
                20% 45%,
                20% 45%,
                20% 45%,
                20% 55%,
                20% 65%,
                0 100%
        );
        shape-margin: 7%;
      }
      

      .a_propos_red_circle {
        font-size: var(--article--regular);
        padding-top:50px;
        padding-right:50px;
        padding-left:10px;
        background-color: var(--dark-red);
        border-radius: 50%;
        position: relative;
        margin: 0;
        color: white;
        height:322px;
        width:333px;
        bottom:50px;
        margin-left: auto;
        margin-right: auto;
    
      }
      
      .a_propos_red_circle::before {
            content: "";
            width: 50%;
            height: 100%;
            float: left;
            shape-outside: polygon(
                    20% 0%,
                    20% 0%,
                    20% 45%,
                    20% 45%,
                    20% 45%,
                    20% 55%,
                    20% 65%,
                    0 100%
            );
            shape-margin: 7%;
          }
          

          .a_propos_yellow_circle {
            font-size: var(--article--regular);
            padding-top:80px;
            padding-right:40px;
            background-color: var(--dark-yellow);
            border-radius: 50%;
            position: relative;
            margin: 0;
            color: white;
            height:322px;
            width:333px;
            bottom:100px;
            z-index: -1;
            margin-left: auto;
            margin-right: auto;
          }
          
          .a_propos_yellow_circle::before {
                content: "";
                width: 50%;
                height: 100%;
                float: left;
                shape-outside: polygon(
                        20% 0%,
                        20% 0%,
                        20% 45%,
                        20% 45%,
                        20% 45%,
                        20% 55%,
                        20% 65%,
                        0 100%
                );
                shape-margin: 7%;
              }