.header {
    background: var(--light-blue);
    height:80px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index:3;
    position:relative
    }
    

.headertext {
    font-family: var(--intertitre); 
    color:var(--light-text); 
    font-weight: bold;
    display: block;
    position:relative;
    z-index:3;
}

    button {
        background: transparent;
        border: none !important;
        font-size:0;
        width:32px;
        height:auto; 
    }
    
    
    .menu { 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--dark-blue);
        transform: translateX(100%);
        transition: all 1s;
        visibility: hidden;
        z-index:1
    }

    .menu ul {
        list-style: none;
        padding:10%;
        padding-top: 25%;
        font-size: 20px;
        }
        
    .menu img {
        width: 46px;
        height: 46px;
    }
    .menu li{
        display: flex;
        margin: .5em;
        gap: 20px ;
    }
     .menu a{
        padding-top:10px
    }

    .menu_section_jaune {  
        background-image: url("/public/img/yellow_menu_wave.svg");
        background-repeat:no-repeat;
        width: 100%;
        height: 100%;     
        margin-top:-28px;
        display:block;
    }  
    .menu_section_jaune ul , .menu_section_jaune a  {  
        font-family: initial !important;
        font-size: initial !important;
        padding-top:20px
    }

    .menu--open {
        visibility:visible;
        transform: translateX(0);      
    }
        
a {
    font-family: var(--menu-text); 
    color:var(--light-text); 
    text-decoration: none;
    font-family: 'Arvo'
}
a:hover {
    opacity: 0.7;
}

.header__menuBtn {
    position:relative;
    z-index:3;
}
  
  .noscroll
  .noscroll body 
  {
    overflow:hidden;
  }


  