
.index {
  margin: 0;
  font-family: var(--article--regular);
  background: radial-gradient(var(--light-blue), var(--dark-blue), var(--black-text));

}

.index_picture {
  background-image: url("/public/img/index_picture.webp");
  
  height:334px;
  width: auto
}

  .carousel_img {
display: block;
  margin-left: auto;
  margin-right: auto;
box-shadow: var(--picture-drop-shadow);  
}


.index_text
{
  font-family: var(--main-page-subtitles);
  font-family: 'Bellota';
  color:var(--light-text); 
}