.header {
    background: var(--light-blue);
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headertext {
    font-family: var(--intertitre); 
    color:var(--light-text); 
    font-weight: bold;
    display: block;
    
}


    button {
        background: transparent;
        border: none !important;
        font-size:0;
        width:32px;
        height:auto; 
    }
    
    
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--dark-blue);
        transform: translateX(100%);
        transition: all 1s;
        visibility: hidden;
    }

    .menu--open {
        visibility:visible;
        transform: translateX(0);
    }
        