*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  border: 0%;
  padding: 0%
}

body {
  font-family: var(--article--regular);
  background: radial-gradient(var(--white), var(--dark-grey));}

h1 {font-family: var(--big-article-title); color:var(--light-blue)}

h2 {font-family: var(--intertitre); color:var(--yellow)};
